<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>default</id>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>local-patches-repo-plugins</id>
					<url>file:${basedir}/../selunit-development/maven/repo-patches/</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jboss-maven2-plugins</id>
					<url>http://repository.jboss.org/maven2/</url>
				</pluginRepository>			
			</pluginRepositories>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>local-patches-repo</id>
					<url>file:${basedir}/../selunit-development/maven/repo-patches/</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jboss-public</id>
					<url>http://repository.jboss.org/nexus/content/groups/public-jboss/</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>jboss-maven2</id>
					<url>http://repository.jboss.org/maven2/</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>java.net</id>
					<url>http://download.java.net/maven/2/</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>default</activeProfile>
		<activeProfile>dev</activeProfile>
	</activeProfiles>
</settings>
